<header class="container-fluid bg-red-600 text-white">
    <div class="container-fluid">
        <div class="header"></div>
        <h1 class="poppins-regular">Flarion Development</h1>

        <nav id="desktop-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <div id="buttons">
            <button class="btn text-white bg-indigo-600 hover:bg-indigo-700 hover:ease-in-out hover:duration-1000">Login</button>
            <button class="btn text-white bg-indigo-600 hover:bg-indigo-700 hover:ease-in-out hover:duration-1000">Register</button>
        </div>
    </div>
</header>


@code {

}
